# Dependencies
node_modules/
package-lock.json

# Production / Builds
dist/
build/
out/
*.exe
*.dmg
*.AppImage
*.deb
*.rpm

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.log

# Environment & OS files
.env
.env.local
.DS_Store
Thumbs.db

# IDE & Editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
